<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TA News Today View.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>TeamAppleNews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>984D8D121CC075790058FE31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA36D5811BE4FBBB0035285A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA36D5951BE4FBBB0035285A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA36D5A01BE4FBBB0035285A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAFCFF511CDFE73F00D3ED19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
